
form{
    padding-top: 5%;
    color: black;  
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
textarea{
    height: 150px;
}
label{
    color: black;
    font-weight: 800;
}

.successMsg{
    color: lime;
    font-size: 20px;
}

.msgAppear{
    display: block;
}



@media screen and (min-width:986px){
    form{
        width: 40%; 
    }
}
@media screen and (min-width:664px){
    form{
        width: 60%;
    }
}