
.background {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    min-width: 100vh;
    min-height: 100vh;
    font-family: "Anton", sans-serif;
    justify-content: center;
    align-items: center;
  }
  .fixed-position{
    position: fixed;
  }
  .navibar{
    position: sticky;
  }
 h2{
   margin-top: 10px;
   
   background-color: rgba(235, 15, 180, 0.3);
    display: inline;
    border-radius: 10px;
    padding: 5px 50px;
    text-align: center;
 }
 .heading{
   margin-top: 10px;
   text-align: center;
   margin-bottom: 10px;
   background-color: rgba(235, 15, 180, 0.3);
   color: seashell;
   font-size: 20px;
   border-radius: 100%;
 }